
<div class="login-page" >

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <!-- <img src="assets/images/logo.png" width="150px" class="user-avatar" /> -->
      <h1>DnS Management</h1>
      <form role="form" method="post" (submit)="onLoggedin()">
        <div class="form-content">
          <div class="form-group">
            <label for="email">user Email :</label>
            <input type="email" [(ngModel)]="email" required name="email" class="form-control input-underline input-lg" id="email"
              placeholder="Email">
          </div>
          <div class="form-group">
              <label for="password">Password  :</label>
            <input type="password" [(ngModel)]="password" required name="password" class="form-control input-underline input-lg"
              id="password" placeholder="Password">
          </div>
        </div>
        <div *ngIf="loginError" class="alert alert-danger col-md-12">
          {{loginError}}
        </div>
        <button type="submit" class="btn rounded-btn" > Log in </button>
        &nbsp; 
        <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
      </form>
    </div>
  </div>
</div>
