<form style="border:1px solid #ccc" >
  <div class="container">
    <h1>Login</h1>
    <p></p>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="Uemail" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="password"  name="psw" required>

    <!-- <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label> -->

    <div class="clearfix">
      <button type="submit" class="signupbtn" (click)="Onsubmit()" >Login</button>
    </div>
    <div class="clearfix">
        <a class="signupbtn" routerLink='/signup'>Register Here</a>
    </div>
  </div>
</form>
<div id="snackbar" [ngClass]="{'show': toasterShow==true}">{{message}}</div>
